@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="font-style:italic">Boleta Cliente</h1>
<br />
<h2>Detalles</h2>
<h1>Numero orden de compra: @ViewBag.nroOrden</h1><br />
<p>Nombre dViewBag.colorel producto: @ViewBag.nombreproducto</p><br />
<p>Color: @ViewBag.color</p><br />
<p>Talla: @ViewBag.talla</p><br />
<p>Informacion Adicional:</p><br />
<p>@ViewBag.medidascorp</p><br />
<p>fecha solicitud: @ViewBag.fechacotizacion</p><br />
<p>fecha estimada: @ViewBag.fechaestimada</p><br />
<h5>precio @ViewBag.precio</h5><br />
<h3>Datos de contacto:</h3>
<p>Rut Cliente: @ViewBag.rut</p><br />
<p>Email: @ViewBag.email</p>
