
@{
    ViewData["Title"] = "carritodecompra";
}
<h1 class="h1">Carrito de Compra</h1>
<br>
<table style="border:dotted">
    <tr>
        <td>Nombre Producto</td><td>Talla</td><td>Color</td><td>precio</td>
    </tr>
    @Html.Raw(ViewBag.tabla)
    @Html.Raw(ViewBag.tr)
    <tr>
        <td>SubTotal: @ViewBag.subtotal</td>
    </tr>
</table>
<button class="btn-dark">Chequear disponibilidad</button>
<br>
<form class="form-check bg-primary" action="/CarritoCompra/CrearBoleta" method="post" target="_blank">
    <table class="tab-content bg-light align-content-lg-center">
        <tr><td>Envio y entrega</td><td>Precio</td></tr>
        <tr>
            <td>
                <select>
                    <option>Chilexpress</option>
                    <option>Starken</option>
                </select>
            </td>
            <td>$</td>
        </tr>
    </table>
    <input type="hidden" name="ordendecompra" value="@ViewBag.nroOrden" />
    <input type="hidden" name="medidascorporales" value="@ViewBag.medidascorp" />
    <label>Rut</label>
    <br />
    <input type="text" name="rut" placeholder="sin puntos ni guion ej: 12345678-9" maxlength="10" required/>
    <br>
    <label>Correo Electronico</label>
    <br />
    <input type="email" name="email" required />
    <input type="hidden" name="estadoconfeccion" value="@ViewBag.estadoconfeccion" />
    <input type="hidden" name="fechaestimada" value="@ViewBag.fechaestimada"/>
    <input type="hidden" name="valorcotizacion" value="@ViewBag.precio"/>
    <input type="hidden" name="fechasolicitud" value="@ViewBag.fechacotizacion" />
    <input type="hidden" name="tallas" value="@ViewBag.talla" />
    <input type="hidden" name="color" value="@ViewBag.color"/>
    <input type="hidden" name="nombre_producto" value="@ViewBag.nombreproducto"/>
    <input type="submit" class="btn-warning" name="GeneraOrden" value="Generar Orden">
</form>