@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Guia de despacho</h1>
<h4>@ViewBag.gd</h4>
<br>
<h4><p>Rut proveedor:</p>
<br>
<p>@ViewBag.rut</p></h4>
<br>
<h5>Nombre Proveedor:</h5>
<br>
<p>@ViewBag.nombreprov</p>
<br />
<p>Descripcion</p>
<br>
<h6>@ViewBag.descripcion</h6>
<br>
<p>Nombre material</p>
<br>
<p>@ViewBag.nombreproducto</p>
<br>
<p>Color</p>
<br />
<p>@ViewBag.color</p>
<br>
<p>cantidad</p>
<br />
<p>@ViewBag.cantidad</p>
<br>
<h6>precio Unitario: @ViewBag.precioUnitario</h6>
<h6>Iva: @ViewBag.iva</h6>
<h6>Total neto: @ViewBag.total</h6>
<br>
<img src="~/img/descarga.jpeg" style="align-content: flex-end; width:auto; height: auto">