
@{
    ViewData["Title"] = "Pedidosproveedores";
}
<head>
    <!-- CSS only -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:deeppink">
    <div class="container-fluid" style="background-color:deeppink">
        <a class="navbar-brand" href="/Home/Index" style="color:white">Black Dress</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lolita Kei
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Home/vestidos">Vestidos</a></li>
                        <li><a class="dropdown-item" href="/Home/Abrigos">Abrigos</a></li>
                        <li><a class="dropdown-item" href="/Home/blusas">Blusas</a></li>
                        <li><a class="dropdown-item" href="/Home/zapatos">Zapatos</a></li>
                        <li><a class="dropdown-item" href="/Home/accesorios">Accesorios</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/carritodecompra">Carrito de compra</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/genpedprov">Administracion de Stock</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/Estadoconfecciones">Confecciones</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/bodega">Bodega</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/Home/registrarse">Registarse</a></li>
            </ul>
            <form class="d-flex" method="post">
                <input class="form-control me-2" type="text" placeholder="E-mail or User" aria-label="usuario" required style="width:150px">
                <input class="form-control me-2" type="password" placeholder="Password" aria-label="contraseña" required style="width:150px">
                <button class="btn btn-outline-success" type="submit">Acceder</button>
            </form>
        </div>
    </div>
</nav>
<br>
<h1 class="h1">Pedidos proveedores</h1>

<form name="formproveedores" method="get" action="/AdministracionStock/cargaGD" class="form-group btn-group-lg bg-info">
    <label>Rut Proveedor</label>
    <input type="text" name="rut" value="@ViewBag.rut" readonly />
    <br />
    <label class="form-row">Proveedor:</label>
    <select class="form-control-sm" name="proveedores">
        <option name="Nombre" value="Goth and Telas">Goth and Telas</option>
        <option name="Nombre" value="Telas Maricio">Telas Maricio</option>
        <option name="Nombre" value="Supertelas">Supertelas</option>
    </select>
    <br />
    <label class="form-row">Descripcion:</label>
    <select class="form-control-sm" name="descripcion">
        <option name="Descripcion" value="Telas especializadas en prendas goticas y estilos alternativos">Telas especializadas en prendas goticas y estilos alternativos</option>
        <option name="Descripcion" value="Telas X mayor">telas por mayor</option>
        <option name="Descripcion" value="Telas rigidas">telas rigidas</option>
    </select>
    <br />
    <label>Nombre del producto</label>
    <select class="form-control-sm" name="Nombreproducto">
        <option name="Nombre_producto" value="SATIN RASO">SATIN RASO</option>
        <option name="Nombre_producto" value="CUADRILLE">CUADRILLE</option>
        <option name="Nombre_producto" value="LATEX">LATEX</option>
        <option name="Nombre_producto" value="BISTRECH">BISTRECH</option>
        <option name="Nombre_producto" value="LONA">LONA</option>
        <option name="Nombre_producto" value="LYCRA DUPONT">LYCRA DUPONT</option>
        <option name="Nombre_producto" value="POLYESTER">POLYESTER</option>
        <option name="Nombre_producto" value="LINO">LINO</option>
        <option name="Nombre_producto" value="FRANELA">FRANELA</option>
        <option name="Nombre_producto" value="TEJIDO TR">TEJIDO TR</option>
    </select>
    <br />
    <label>Color</label>
    <input type="text" name="color" value="@ViewBag.color" required />
    <br />
    <label>Cantidad (M2)</label>
    <input type="number" name="cantidad" value="@ViewBag.cantidad" required />
    <br />
    <label>Precio Unitario</label>
    <input type="number" name="PrecioUnitario" value="@ViewBag.precioUnitario" readonly />
    <br />
    <label>Iva</label>
    <input type="number" name="Iva" value="@ViewBag.iva" readonly />
    <br />
    <label>Total</label>
    <input type="number" name="Total" value="@ViewBag.total" readonly />
    <input type="submit" value="Cargar Guia" />
</form>
<form method="get" action="/AdministracionStock/GenPedido" target="_blank">
    <input type="hidden" name="rutprov" value="@ViewBag.rut" />
    <input type="hidden" name="proveedores" value="@ViewBag.nombreprov" />
    <input type="hidden" name="descripcion" value="@ViewBag.descripcion" />
    <input type="hidden" name="precioU" value="@ViewBag.precioUnitario" />
    <input type="hidden" name="cantidad" value="@ViewBag.cantidad" />
    <input type="hidden" name="iva" value="@ViewBag.iva" />
    <input type="hidden" name="totalapagar" value="@ViewBag.total" />
    <input type="hidden" name="nrodeguia" value="@ViewBag.gd" />
    <input type="hidden" name="nombreprod" value="@ViewBag.nombreproducto" />
    <input type="hidden" name="color" value="@ViewBag.color" />
    <input type="submit" value="GenerarPedido" />
</form>



<p>Se ha generado guia de despacho: @ViewBag.gd</p>